*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.vscode
app/src/main/unilink-d6206-firebase-adminsdk.json
/.idea/codeStyles/codeStyleConfig.xml
/.idea/discord.xml
/.idea/codeStyles/Project.xml
/.idea/deploymentTargetDropDown.xml
